doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../style.css")
        link(rel="preconnect", href="https://fonts.gstatic.com")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap")
        title Home
    body
        .details__container
            h1.home__h1 Розклад польотів
            .timetable 
                table
                    tr 
                        th День тижня
                        th Рейс
                        th Виліт
                        th Приліт
                        th Літак
                        th Квитки
                      
                    tr     
                        td ПН СР ЧТ
                        td ІФ - Варшава
                        td 12:50
                        td 18:30
                        td Boeing-777
                        td.ticket Купити квиток
                        
                    tr     
                        td ВТ ПТ СБ
                        td ІФ - Київ
                        td 17:40
                        td 19:10
                        td Airbus43
                        td.ticket Купити квиток
                    tr     
                        td ПН ЧТ
                        td ІФ - Нью-Йорк
                        td 12:00
                        td 00:15
                        td Boeing-737
                        td.ticket Купити квиток
                    tr     
                        td ВТ ПТ СБ
                        td ІФ - Дніпро
                        td 17:40
                        td 19:10
                        td ATR-72-600
                        td.ticket Купити квиток
                    tr     
                        td ПН СР ЧТ
                        td ІФ - Одеса
                        td 16:00
                        td 17:40
                        td ATR-72-600
                        td.ticket Купити квиток 