doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../style.css")
        link(rel="preconnect", href="https://fonts.gstatic.com")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap")
        title Tour page
    body
        .tour__container
            .tour__baner 
                img.tour_baner__image(src="../img/tour__image1.png" alt="")
                p.tour_baner__p Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore. 
            h1.tour_city__h1 Про місто
            .tour__city
                p.tour_city__p Івано-Франківськ – це місто з багатовіковою історією, давніми традиціями, неординарним мистецьким життям та динамічною економікою. Обласний центр розташувався на перетині двох річок Бистриць
                img.tour_city__image(src="../img/city__map.png", alt="")
            h1.tour_taxi__h1 Таксі в Івано-Франківську
            .tour__place
                .place__column
                    .place_column__image
                    .column__flex
                        p.place_column__p rating: 3.7
                        img.place_column__icon(src="../img/star_icon.png", alt="")
                    hr.place_column__line
                .place__column
                    .place_column__image2
                    .column__flex
                        p.place_column__p rating: 3.7
                        img.place_column__icon(src="../img/star_icon.png", alt="")
                    hr.place_column__line
                .place__column
                    .place_column__image3
                    .column__flex
                        p.place_column__p rating: 3.7
                        img.place_column__icon(src="../img/star_icon.png", alt="")
                    hr.place_column__line
            h1.tour_taxi__h1 Готелі поблизу
            .tour__place
                .place__column
                    .place_column__image4
                    .column__flex
                        p.place_column__p rating: 3.7
                        img.place_column__icon(src="../img/star_icon.png", alt="")
                    hr.place_column__line
                .place__column
                    .place_column__image5
                    .column__flex
                        p.place_column__p rating: 3.7
                        img.place_column__icon(src="../img/star_icon.png", alt="")
                    hr.place_column__line
                .place__column
                    .place_column__image6
                    .column__flex
                        p.place_column__p rating: 5
                        img.place_column__icon(src="../img/star_icon.png", alt="")
                    hr.place_column__line
            h1.tour_taxi__h1 Цілодобові кафе, ресторани й супермаркети
            .tour__place
                .place__column
                    .place_column__image7
                    .column__flex
                        p.place_column__p rating: 3.3
                        img.place_column__icon(src="../img/star_icon.png", alt="")
                    hr.place_column__line
                .place__column
                    .place_column__image8
                    .column__flex
                        p.place_column__p rating: 3.7
                        img.place_column__icon(src="../img/star_icon.png", alt="")
                    hr.place_column__line
                .place__column
                    .place_column__image9
                    .column__flex
                        p.place_column__p rating: 4.5
                        img.place_column__icon(src="../img/star_icon.png", alt="")
                    hr.place_column__line
            